@media (max-width: 1900px) {
    .container-to-user {
        background-size: 100% !important;
    }
}

@media screen and (min-width:393px) and (max-width:768px) {

    .frame1,
    .frame2,
    .frame3,
    .wrapper-select,
    .navitel,
    .wrapper-registr>img,
    .wrapper-registr>span,
    .pass-change-a a span,
    .container-footer,
    .logo-19,
    .address-count,
    .address-main,
    .container-info,
    .container-player,
    .login-logo,
    .order-list,
    .order-box,
    .order-box,
    .order-butt-img img,
    .add-orderr,
    .box-order,
    .order-country,
    .info_change,
    .container-web,
    .container-paragraf p,
    .container-big-page,
    .wrapper-video2,
    .container-howtouse,
    .container-pinduoduo,.hov-hover {
        display: none !important;
    }

    span {
        color: #263238 !important;
    }

    #burger,
    .logo-768,
    .address-res-inn,
    .foot-add,
    .container-player-resp,
    .containerimage-sign-in,
    .order-my,
    .add-orderr,
    .response-block,
    .touse-res {
        display: block;
    }

    .pencle-res {
        display: block;
        position: absolute;
        bottom: 255px;
        left: 79%;
    }

    .container-response-order {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order-card-response {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo-cont {
        padding-left: 83%;
    }

    .chang-pass {
        display: flex;
    }

    .chang-pass p {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }

    .changing-pass {
        margin: 24px auto;
        display: flex;
        flex-direction: column;
        max-width: 380px;
        width: 100%;
        min-height: unset;
    }

    .pass-change {
        width: unset;
        display: block;
    }

    .change-inp-pass span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    .inp-pass-change {
        max-width: 353px;
        width: 100%;
        height: 50px;
    }

    .change-inp-but {
        margin: 0;
    }

    .change-inputs {
        gap: 0px;
    }

    .save-pass {
        max-width: 353px;
        width: 100%;
        position: relative;
        bottom: 80px;
    }

    .change-inp-pass a span {
        display: block;
        margin: 0 21%;
    }

    .change-inputs .change-inp-pass:nth-child(2) {
        margin-top: 3%;
    }

    .wrap-sp-res {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #353432 !important;
    }


    .container-footer-responsiver {
        display: block;
        background: #F6F6F6;
        padding-inline: 20px;
        position: relative;
        min-height: 460px;
    }

    .container-one-menu {
        display: flex;
        justify-content: center;
        gap: 71px;
        padding: 4% 0;
    }

    .container-left-menu {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .main-footer-res li a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }

    .wrapper-back {
        display: flex;
        gap: 40px;
        justify-content: center;
    }

    .wrapper-back-img>span,
    .log-wr-sp {
        font-weight: 400 !important;
        line-height: 16px !important;
        color: #000000;
        position: relative;
    }

    .wrapper-back-img .log-wr-sp {
        bottom: 82px;
        right: 5px;
    }


    .back_main-menu1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .back-icon {
        display: flex;
        align-items: center;
    }

    .back-icon h1 {
        width: 114px;
        min-height: 14px;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #26AA9D;
    }

    .back_main-menu2 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    .cont-flex-new {
        width: 160px;
    }

    .flex-img-new {
        width: 141px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .responde-logo-footer {
        display: flex;
        justify-content: center;
        margin: 5% 0;
    }

    .container-logistics span {
        width: 264px;
        min-height: 32px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #000000;

    }

    .container-logistics {
        margin: 3% 11%;
        display: flex;
        justify-content: center;
    }

    .aboye-more h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        margin: 3% 6%;
    }

    .row-res {
        padding-inline: 15px;
    }

    .aboute-row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .row {
        padding-inline: unset;
    }

    .wrapper-aboute-text span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        padding-inline: 15px;
    }

    .address-res-inn {
        margin-bottom: 30px;
    }

    /* index start */
    .wrapper-sign {
        justify-content: space-around;
    }

    .wrapper-sign span a {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;

    }

    .wrapper-sign span {
        width: unset;
    }

    .wrapper-section {
        height: 247px !important;
    }

    .w-100 {
        object-fit: cover;
        height: 247px !important;
    }

    .section-middle-one {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;

    }

    .hiden-res {
        font-size: 14px !important;
        line-height: 16px !important;
    }

    .container-slider-response {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .container-one-block,
    .container-two-block {
        position: relative;
        left: 26px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-one-block span {
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        right: 13%;
        top: 32px;

    }

    .container-position {
        position: absolute;
        right: 80%;
    }
    .order-num{
        font-size: 16px;
    }

    .container-block {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .company-brand {
        position: absolute;
        left: 59%;
    }

    .container-two-block span {
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        position: relative;
        right: 52%;
    }

    .container-three-block {
        position: relative;
        display: flex;
        align-items: center;
    }

    .container-position1 {
        position: absolute;
        right: 76%;
    }

    .container-three-block span {
        position: absolute;
        left: 74px;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;

    }

    .log-wrapper {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px !important;
        color: #F8931F !important;


    }

    .log-wrapp,
    .log-wr-s {
        font-size: 14px !important;
        font-weight: 400;
    }

    .wrapper-info {
        margin: unset;
    }

    .play-res-inn {
        flex-direction: column;
    }

    .res-play-sec {
        display: flex;
        flex-direction: column;
    }

    /* index end */
    /* LogOn start */
    .container-form {
        border: none;
        box-shadow: none;
        min-height: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper-name h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0.06em;
        margin: 7% 33%;
    }

    .wrapper-input span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    .container-form1 {
        max-width: 353px;
        width: 100%;
        min-height: unset;
        height: 50px;
        color: #26AA9D;
        border: 1px solid #26AA9D;
    }

    .cont-flex span {
        font-size: 14px;
    }

    .wrapper-input {
        gap: 4px;
        margin: 8px 0px;
    }

    .check {
        width: 20px;
        height: 20px;
    }

    .wr-btn {
        width: 100%;
    }

    .wr-btn span {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #26AA9D;
    }

    .wr-cont {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    .wrapper-log-in {
        padding: 23px 0;
    }

    /* LogOn end */
    .my-order {
        width: unset;
        min-height: unset;
        margin: 10% 0;
    }

    .order-my {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-my p {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }

    .order-my-butt {
        max-width: 353px;
        width: 100%;
        height: 44px;
    }

    .order-middle-ch1 {
        flex-direction: column;
        margin: 20% 0;
    }

    .my-order-min {
        flex-direction: column;
        width: unset;
        min-height: unset;
        margin: 0;
    }

    .order-ch1 span {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

    }

    .order-inp-search {
        max-width: 353px;
        width: 100%;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;


    }

    .order-ch2 {
        width: unset;
        min-height: unset;
    }

    .ordered-dv {
width: 353px;
        height: 80px;
    }

    .container-order-bording {
        padding-inline: 20px;
    }

    .password-input {
        width: unset;
        min-height: unset;
        border: none;
        border-radius: unset;
        margin: 5% 0;
    }

    .password-new {
        width: unset;
        min-height: unset;
    }

    .new-password p {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        margin: 3% 10%;

    }

    .add-sp {
        color: #26AA9D !important;
    }

    .new-password {
        justify-content: center;
        padding-inline: 25px;
    }

    .pass-inp1 span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

    }

    .password-new-inp {
        max-width: 353px;
        width: 100%;
        height: 50px;
    }

    .pass-butt {
        max-width: 353px;
        width: 100%;
        height: 44px;
    }

    .rest-input {
        border: none;
        border-radius: unset;
        margin: 0;
        background: unset;
        width: unset;
        min-height: unset;
    }

    .rest-dv {
        width: unset;
        min-height: unset;
        display: flex;
        flex-direction: column;
        padding-inline: 20px;
        margin-bottom: 35px;
    }

    .pass-restore {
        min-height: unset;
    }

    .rest-dv p {
        max-width: 353px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
    }

    .mail-inp span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

    }

    .pass-inp-text {
        max-width: 353px;
        width: 100%;
        height: 50px;
    }

    .pass-butt {
        max-width: 353px;
        width: 100%;
        height: 44px;
    }

    .container-setting-text h3 {
        font-size: 24px !important;
        font-weight: 400;
        line-height: 28px;
    }

    .container-col-setTop>span,
    .container-col-bottom>span,
    .container-bottom-setting>span,
    .container-bottom-setting {
        font-size: 16px !important;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        min-height: unset;
    }

    .container-col-input,
    .container-col-input1,
    .container-col-input12 {
        max-width: 353px;
        width: 100%;
        height: 50px;
        min-height: unset;
    }

    .container-cont-settings {
        margin: 20px;
    }

    .container-col-setTop {
        margin-bottom: 13px;
    }

    .cont-set {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-bottom-setting {
        margin: 5% 0;
    }

    .container-col-input12 {
        margin: 0;
    }

    .bot-cont-flex {
        top: -18px;
    }

    .container-col-password a span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

    }

    .container-col-password {
        margin: 0;
        gap: 13px;
        position: relative;
        left: 48%;
    }

    .container-paragraf h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
    }

    .container-sign-input span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    .signUP-contaent {
        max-width: 353px;
        width: 100%;
        height: 44px;
        min-height: unset;
    }

    .container-Sign_Up {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4% 0;
    }

    .wrapper-form-signUp {
        min-height: unset;
    }

    .container-sign {
        padding: 0;
    }

    .sign-btn-up {
        max-width: 353px;
        width: 100%;
        height: 44px;
        background: #f8931f;
    }

    .wr-btn {
        width: unset;
        max-width: 353px !important;
        width: 100%;

    }

    .sign-left {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    .tous-sp span {
        color: #26AA9D !important;
    }

    .log-wrapper {
        font-size: 16px !important;
    }

    .play-res-inn {
        margin-top: 40px;
    }

    .play-res-inn {
        width: 393px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 163px;
    }

    .cont-play-res {
        /* display: unset; */
        justify-content: unset;
    }

    .container-player-resp {
        height: 1048px;
    }

    .res-play-th {
        margin-top: 0px;
    }


    .res-play-fr {
        width: 393px;
    }

    .absolute-img {
        width: 136px;
        top: -89px;
        left: 5px;

    }

    .absolut-img {
        width: 78px;
        top: 411px;
        left: 71px;
    }

    .wrapper-flex-input {
        gap: 17px;
    }


}









@media screen and (min-width:768px) and (max-width:1280px) {

    .aboute-row {
        padding-inline: 40px;
    }

    .wrapper-aboute-text {
        padding-inline: 30px;
    }

    .wrapper-aboute-text span {
        font-size: 16px;
    }

    .aboye-more h3 {
        margin: 21px -89px;
    }

    .logo-19 {
        width: 300px;
    }

    .logo-12 {
        margin: 0 -65px;
    }

    .head-inn-sign {
        height: 0;
    }

    .thrd-inn-right {
        max-width: unset;
        width: unset;
    }

    .address-inner {
        margin: 5%;
        width: unset;
        min-height: unset;
    }

    .address-inner h1 {
        font-size: 24px;
    }

    .add-ru,
    .add-china {
        max-width: 172px;
        width: 100%;
        min-height: unset;
        height: 38px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .add-font,
    .add-fontt {
        font-size: 14px;
    }

    .address-right {

        width: 100%;
        min-height: 427px;

    }

    .add-data-p,
    .add-tada-sp {
        font-size: 16px;
    }

    .data-img {
        display: block;
        margin: 0;
    }

    .add-rig-top {
        width: 395px;
    }

    .address-data {
        flex-wrap: wrap;
        width: 500px;
        gap: 6px;
        border-bottom: 1px solid #D8D8D8;

    }

    .address-right-inn {
        width: unset;
        min-height: unset;
        margin: 5%;
        overflow: hidden;
    }

    .add-copy-all {
        font-size: 20px;
    }

    .add-rig-bot {
        margin-top: 24px;
    }

    .address-main {
        display: flex;
        flex-direction: column;
    }

    .address-left {
        width: unset;
    }

    .changing-pass {
        margin: 5% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pass-change {
        width: unset;
        margin: 5%;
    }

    .change-inp-but {
        width: unset;
        margin: unset;
    }

    .login-logo {
        display: none;
    }

    .containerimage-sign-in {
        display: block;
        margin-bottom: 30px;
    }

    .wrapper-name h3 {
        font-size: 32px;
        text-align: center;
        width: unset;
    }

    .wrapper-input span {
        font-size: 16px;
    }

    .container-form1 {
        max-width: 350px;
        width: 100%;
        min-height: unset;
        height: 50px;
    }

    .wr-btn {
        width: 350px;
    }

    .container-form {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .wrapper-flex-input {
        gap: 14px;
    }

    .wr-btn {
        width: 350px;
    }
    .order-my{
        display: flex;
        
    }
    .order-ch1 span{
        font-size: 14px;
    }
    .order-my-butt{
        max-width: 186px;
        width: 100%;
        min-height: unset;
        height: 40px;
    }
    .order-list{
        width: 726px;
    }
    .ord-butt-ch, .sp-under{
        font-size:14px ;
    }
    .my-order{
        width: 786px;
        justify-content: unset;
    }
    .order-my{
        display: flex;
    width: 717px;
    justify-content: space-between;
    }
    .order-middle-ch1{
        justify-content: flex-start;
    }
    .order-ch2{
        max-width: 324px;
        width: 100%;
        margin: 0 3.3%;
    }
    .order-card-inn p,.ord-pay-sp{
font-size: 14px;
    }
    .pay-card span{
        font-size: 12px;
    }
    .onclick-checking{
        max-width: 197px;
        width: 100%;
        min-height: unset;
        height: 33px;
    }
    .order-card-butt{
       width: 197px;
        min-height: unset;
        height: 40px;
        font-size: 14px;
    }
    .order-country{
        width: 218px;
        justify-content: flex-end;
    }
    .order-country{
        display: none;
    }
    

}



@media screen and (min-width:1280px) and (max-width:1440px) {
    .changing-pass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 14px 140px;
    }

    .pass-change {
        width: calc(54%);
    }

    .address-inner {
        padding: 50px;
        width: unset;
        margin: 0;
    }
    .order-left-sp>.order-num{
    color:  #353432 !important;
    font-size: 14px !important;
   }

}

@media screen and (min-width:1440px) and (max-width:1920px) {
    .changing-pass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 14px 140px;
    }

    .pass-change {
        width: calc(74%);
    }
}






















@media screen and (max-width:1440px) {
    .project-header {
        padding-inline: 30px;
    }

    .head-inn-thrd {
        justify-content: flex-start;
        gap: 10px;
    }

    .inn-fir-sp {
        gap: 0px;
    }

    .footer-main {
        padding-inline: 30px;
    }
}



@media screen and (max-width:1280px) {
    .project-header {
        padding-inline: 60px;
        height: 110px;
    }

    .inn-fir-12 {
        display: block;

    }

    .head-inn-fir {
        display: none;
    }

    .inn-sec-12 {

        display: block;
    }

    .head-inn-sec {
        max-width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
    }

    .inn-sec-ul {
        display: none;
    }

    .inn-rg-sp {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

    }

    .head-inn-thrd {
        max-width: 321px;
        justify-content: flex-end;
    }

    .left-li-12 {
        display: none;
    }

    .thrd-inn-left {
        max-width: 155px;
    }

    .name-sur {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #353432;
    }

    .phone-res-12 {
        display: block;
    }

    .phone-res-19 {
        display: none;
    }

    .inn-left-ul a {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

    }

    .inn-left-ul {
        gap: 10px;
    }

    .left-li-down {
        display: flex;
    }

    .lang-bl {
        display: none;
    }

    .footer-main {
        padding-inline: 54px;
    }

    .top-inn {
        gap: 19px;
    }

}

@media screen and (max-width:786px) {
    .project-header {
        padding-inline: 30px;
    }

    .thrd-inn-right {
        display: none;
    }

    .head-inn-thrd {
        max-width: 117px;
    }

    .head-inn-sec {
        max-width: 50px;
        display: flex;
        justify-content: center;
    }

    .head-inn-sign {
        max-width: 200px;
        width: 100%;
    }

    .inn-fir-12 {
        max-width: 100px;
    }

}

@media screen and (max-width:393px) {
    .logo-min {
        display: block;
    }

    .logo-12 {
        display: none;
    }

    .project-header {
        height: 55px;
    }

    .head-inn-sec {
        height: 55px;
    }

    .head-inn-sec {
        /* padding-left: 102px; */
        max-width: 35px;
    }

    .left-li-down {
        display: block;
    }
}